<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style2.css">
    
    <title>Online fake review detection</title>
</head>
<body>
    <div>
    <h1>Online fake review detection</h1>
     <h2>enter the url of the product </h2>
     </div>
     <!-- <form action="/websearch" method="post">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url">
        <!-- <a href="http://localhost/real-1/display_csv.php">submit</a> -->
        <!-- <input type="submit" value="SUBMIT">
      </form> --> -->

      <form method="POST" action="/websearch">
        <input type="url" name="url_input" id="input1">
        <input type="submit" value="Submit">
     </form>
      

      
      <!-- <img src="https://previews.123rf.com/images/stuartphoto/stuartphoto1403/stuartphoto140300329/26415640-fake-genuine-signpost-showing-imitation-or-authentic-product.jpg" alt="not found"> -->

      <div class="image-container">
        <img src="https://previews.123rf.com/images/stuartphoto/stuartphoto1403/stuartphoto140300329/26415640-fake-genuine-signpost-showing-imitation-or-authentic-product.jpg" alt="Image 1" class="flip-image">
      </div>
    
      <!-- <div class="image-container">
        <img src="https://previews.123rf.com/images/stuartphoto/stuartphoto1403/stuartphoto140300329/26415640-fake-genuine-signpost-showing-imitation-or-authentic-product.jpg" alt="Image 2" class="flip-image">
      </div> -->



</body>
</html>